@import url(./normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');

/*!RESET*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}

:root {
    --primary_color: #597efc;
    --secondary_color: #FFFFFF;
    --terciary_color: #FFE69A;
    --cuaternary_color: #f4f8fb;
}


body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: var(--cuaternary_color);
}

/* Nav Bar */
.main__navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 3.5rem;
    padding: 0.5rem;
    background-color: var(--primary_color);
}

.navbar__start {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar__logo {
    width: 2rem;
    margin: 0.8rem 0;
    border-radius: 0.5rem;
}

.navbar__logo:hover {
    cursor: pointer;
}

.navbar__buttons {
    width: 30px;
}

.navbar__logout {
    width: 30px;
}

/* Main Section */
.main__section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;
    width: 80%;
    padding: 1rem 1.5rem;
    background-color: var(--cuaternary_color);
}

/* Search Bar */
.section__searchbar {
    flex: 1;
    width: 100%;
}

.form-control {
    border: none;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.recentfiles__section {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-height: 300px;
    padding: 1rem 0;
    overflow-x: overlay;
}

.recentfiles__section::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

.card-recent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    margin-right: 1rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.card-img {
    margin-top: 2rem;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.title__link {
    text-decoration: none;
}

.card-title {
    color: black;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
}

.card-title:hover {
    transform: scale(1.1);
    color: var(--primary_color);
}

.card-text {
    font-size: 0.8rem;
    color: rgb(173, 170, 170);
}

.card__actionbuttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 0 0.5rem;
    border: none;
    border-radius: 50%;
    background-color: var(--cuaternary_color);
    color: var(--primary_color);
}

.card__icon:hover {
    background-color: var(--primary_color);
    color: var(--cuaternary_color);
    transform: scale(1.2);
}

/* Section Actions Buttons */
.section__actions {
    display: flex;
    flex: 1;
    justify-content: space-between;
    width: 100%;
}

.display__filters {
    display: flex;
}

.dropdown {
    margin-right: 2rem;
}

.btn-secondary {
    background-color: var(--primary_color);
    border: none;
    font-size: 1rem;
    font-weight: 300;
}

.btn-secondary:hover {
    background-color: #3b67f7;
}

/* Table list of files and directories */
.listfile--items {
    flex: 9;
    width: 100%;
    overflow-y: overlay;
}

.listFiles__table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1em;
}

.header__table {
    font-size: 0.9rem;
    color: rgb(173, 170, 170);
    text-align: left;
}

.table__row{
    background-color: white;
}

.table__row td {
    height: 20px;
}

/* Aside Content */
.main__aside {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 1rem 1.5rem;
}

.profile__image {
    width: 150px;
}

.media__files {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

.summary__image {
    margin: 10px;
    padding: 10px;
    border: 20px;
}

.media__files>img:nth-child(1) {
    background-color: rgb(193, 228, 237);
}

.media__files>img:nth-child(2n) {
    background-color: rgb(248, 219, 219);
}

.media__files>img:nth-child(3) {
    background-color: rgb(244, 244, 188);
}

.media__files>img:nth-child(4) {
    background-color: rgb(204, 244, 204);
}

.summaryInfo {
    display: flex;
    flex-direction: column;
}